@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	outline: none
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

a
	text-decoration: none
	&:hover, &:active, &:visited
		text-decoration: none
		color: #ffffff

button
	&:active, &:focus
		outline: none
	&::-moz-focus-inner
		border: 0    	

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

section
	&.section_1
		position: relative
		color: #e8e8e8
		background: url(../img/background_section.jpg) no-repeat center
		background-size: cover
		min-height: 750px
		padding: 28px 0 0 0
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-color: $overlay

		.btn_wrap
			padding: 16px 0 0 0 
			text-align: center

.section
	padding: 100px 0 100px 0
	color: $color_title

.header
	.mmenu
		text-align: center	

	.header_wrap
		padding: 215px 200px 100px
		text-align: center

		.header_title
			font-size: 36px
			letter-spacing: -0.5px
			font-weight: normal
		
		.header_desc 
			font-size: 17px
			font-weight: 200
			padding: 16px 0 30px 0
		
		.btn_arrow 
			.arrow
				margin: 0 auto

// Menu Burger Start
.btn-burger 
	width: 30px
	height: 20px
	position: relative
	cursor: pointer
	background: none
	border: none
	outline: none

	.btnBurger__bottom, 
	.btnBurger__middle, 
	.btnBurger__top 
		position: absolute
		background: #fff
		height: 4px
		transition: all 0.3s ease
		width: 100%
	
	.btnBurger__top 
		top: 0
		left: 0
	
	.btnBurger__middle 
		top: 50%
		left: 0
		transform: translateY(-50%)
	
	.btnBurger__bottom 
		bottom: 0
		right: 0
	
	&:hover 
		.btnBurger__top 
			top: 50%
			transform: translateY(-50%)
		
		.btnBurger__bottom  
			bottom: 50%
			transform: translateY(50%)
	
	&.active 
		.btnBurger__top, .btnBurger__bottom 
			top: 50%
			left: 0
			transform: rotate(225deg)
		
		.btnBurger__middle 
			top: 50%
			right: 0
			transform: rotate(135deg)
// Menu Burger End   

.button
	border-radius: 25px
	border: 1px solid #e8e8e8
	color: #e8e8e8
	display: inline-block
	font-size: 13px
	font-weight: bold
	letter-spacing: 1px
	padding: 9px 30px
	text-transform: uppercase


.section_title
	position: relative
	padding-bottom: 15px
	&::after
		content: ""
		position: absolute
		margin: 0 auto
		bottom: 0
		left: 0
		right: 0
		width: 40px
		height: 2px
		background-color: $color_title

	.s_title
		text-transform: uppercase
		font-weight: 900
		font-size: 26px
		line-height: 22px
	
	.s_desc
		font-size: 14px
		line-height: 30px
		padding-top: 15px

.service_items
	color: $color_title
	padding: 60px 0 0 0

	.item_title
		padding: 25px 0 10px 0
		font-size: 16px
		font-weight: 800
		line-height: 36px

	.item_desc
		font-size: 14px
		line-height: 22px
		font-weight: normal

.section_2
	background-color: #f5f5f5

.section_3
	padding: 100px 0 0 0

.works
	padding: 60px 0 0 0
	.container-fluid
		padding: 0

	.w_link
		opacity: 0
		position: absolute
		bottom: 0
		right: 0
		left: 0
		top: 0
		padding: 75px 0 0 0

		
		.title_link
			font-size: 15px
			text-transform: uppercase
		.decs_link
			font-size: 13px
	
	.works_item
		position: relative
		&:hover
			.w_link
				opacity: 1
				background-color: $overlay
				transition: all 0.3s ease
				cursor: pointer

.slider
	padding: 55px	0 0 0

	.slide_item
		.s_comments
			position: relative
			padding: 0 10px 70px 10px
			font-size: 16px
			line-height: 26px
			color: #2b3746
			&::after
				content: "”"
				position: absolute
				left: 0
				right: 0
				bottom: 20px
				font-size: 40px
				font-weight: bold
				color: #abaeb2

	.s_author
		line-height: 20px
		.s_author_foto
			border-radius: 50%
			width: 68px
			margin: 0 auto 15px

		.s_author_name
			font-size: 15px
			font-weight: bold

		.s_author_desc
			font-size: 13px

.owl-theme .owl-dots .owl-dot span
	background: 0 0
	border: 1px solid #2b3746
	width: 15px
	height: 15px
	margin: 5px 3px
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background: #2b3746
.owl-theme .owl-nav.disabled+.owl-dots
	margin-top: 17px

.section_5
	position: relative
	background: url(../img/background_section_1.png) no-repeat center
	background-size: cover

	.our_team_wrap
		padding-top: 85px

	.section_title
		color: #f2f2f2
		&::after
			background-color: #f2f2f2

	.our_team

		.worker
			&:hover
				.w_bio_read
					opacity: 1
					transition: all .5s ease
			.w_bio
				position: relative
			.w_bio_read
				position: relative
				background-color: $overlay
				bottom: 0
				color: #d2d1d2
				cursor: pointer
				left: 0
				opacity: 0
				padding: 115px 0 0 0
				position: absolute
				right: 0
				text-transform: uppercase
				top: 0
				&::after
					content: ""
					position: absolute
					margin: 0 auto
					bottom: 105px
					left: 0
					right: 0
					width: 40px
					height: 2px
					background-color: #d2d1d2

			.w_desc
				background-color: rgba(242, 242, 242, 0.75)
				padding: 25px 30px 25px 30px
				.w_name
					font-size: 15px
					color: $color_title
					font-weight: 800
					line-height: 20px
				.w_post
					font-size: 14px
					color: #29323c
					font-weight: 200
				.w_soc_link
					padding-top: 25px
					& > a
						display: inline-block
						width: 25px
						height: 25px
						margin-right: 6px
						filter: opacity(70%)
					.icon_tw
						background: url(../img/icon_tw.png) no-repeat center
					.icon_in
						background: url(../img/icon_link.png) no-repeat center
					.icon_vm
						background: url(../img/icon_vimeo.png) no-repeat center
					.icon_dr
						background: url(../img/icon_dribble.png) no-repeat center
					.icon_mail
						background: url(../img/icon_mail.png) no-repeat center











@import "media" // Always at the end
